<%= form_with(model: [:admin, post], local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: :input_area %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, class: :input_area %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :excerpt %>
    <%= form.text_area :excerpt, class: :input_area %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, class: :input_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
