<% set_meta_tags title: @post.title, description: @post.body.to_s.gsub(/\r\n|\r|\n|\s|\t/, ""), og: { image: image_url(@post.image) }, twitter: { image: image_url(@post.image) } %>

<ul id='article-operation'>
  <li class='back-to-article-lists'><%= link_to '記事一覧へ', posts_path, { class: 'orange-bottom orange-shadow' } %></li>
</ul>
<div id='article' class='orange-shadow'>
  <p id='article-date'>
    <%= @post.created_at.strftime('%Y/%m/%d') %>
    <% if @post.created_at.to_date != @post.updated_at.to_date %>
      (更新日: <%= @post.updated_at.strftime('%Y/%m/%d') %>)
    <% end %>
  </p>
  <h1 id='article-title'><%= @post.title %></h1>
  <%= image_tag @post.image.to_s, :class => 'article-img' %>
  <div class='article-body'><%= @post.body.html_safe %></div>
</div>
